@page
@model CurrentEmployeeReportPageModel
@{
    ViewData["Title"] = "Кадровий звiт";
}
<h1 class="mb-4">@ViewData["Title"]</h1>
<div class="card mb-4">
    <div class="card-header">Згенерувати кадровий звіт</div>
    <div class="card-body">
        <form asp-area="" asp-page="/CurrentEmployeeReportPageModel" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="SearchCriteria" class="form-label">Співробітник (опцiонально)</label>
                <input asp-for="SearchCriteria" class="form-control" />
            </div>
            
            <button type="submit" class="btn btn-success">Згенерувати звiт</button>
        </form>
    </div>
</div>
